# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/
*.swp

# Logs
*.log

# Project specific temporary files
*.ts
*.m3u8
create_icon.py
dlna_play.py
dlna_play_url.py
dlan_scan.py
screen_cast.py
server.py
*.jpg